*{
    margin: 0 auto;
    border: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

/* Menu */
.menu{
    background-color: #F7D10E;
}

/* conteudo */
.home{
    background-image: url(/PICS/post.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    padding: 200px;
}
.conteudo{
    text-align: center;
    color: #ffffffff;
}
